$cobalt-green = #83a33c
$cobalt-blue = #4d6aa3
$cobalt-yellow = #ba8b2d

$color-background = #edeae6
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = $cobalt-yellow
$color-text = #22272a
$color-accent-1 = $cobalt-green
$color-accent-2 = $cobalt-green
$color-accent-3 = #666
$color-quote = #666
$highlight = hexo-config("highlight") || "github"
